.box1{
    background-color: yellowgreen;
    width: 650px;
    height: 450px;
}

.box2{
    background-color: yellow;
    width: 650px;
    height: 450px;
}

.box3{
    background-color: purple;
    width: 650px;
    height: 450px;
}

.box4{
    background-color: plum;
    width: 650px;
    height: 450px;
}